nav {
    padding: 25px;
    position: fixed;
    bottom: 40px;
    width:100vw;

    background-color: #fff;
z-index: 9999999999;
    display: grid;
    grid-template-columns: 25% auto;
    gap: 30%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li a {
    text-decoration: none;
    color: black;
    transition: opacity 200ms ease-in-out;
    overflow: hidden;
}

nav ul li a::after {
    content: '';
    display: block;

    width: 100%;
  opacity:0;
    height: 3px;

    margin-top: 3px;
    border-radius: 99px !important;
    background-color: black;

    transition: width .2s ease-in-out;
}

nav ul li a.current::after {
    width: 100%;
  opacity:1;
}

nav ul li a:hover::after {
    width: 100%;
  opacity:1;
}

.headling {
    text-align: center;
}

.headling span {
    font-weight: 500;
    font-size: 25px;
    color: black;
}